
section *{
    margin:0;
    font-weight: normal;
}

main,section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

section > p{
    margin-left:0.9375rem;
    border-left:3px solid;
    padding:0.3em 0 0.3em 0.9375em
}

section > h1{
    font-size:1.2rem
}